apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - prometheus/pvc.yaml
  - prometheus/deployment.yaml
  - prometheus/service.yaml
  - grafana/pvc.yaml
  - grafana/deployment.yaml
  - grafana/service.yaml
  - metrics-scraper/deployment.yaml
  - metrics-scraper/service.yaml

configMapGenerator:
  - name: grafana-config
    files:
      - grafana/config/grafana.ini
      - grafana/config/dashboards.yaml
      - grafana/config/datasources.yaml

generatorOptions:
  disableNameSuffixHash: true
  annotations:
    note: generated

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/part-of: monitoring
      app.kubernetes.io/managed-by: kustomize

namespace: monitoring
