#
# Docker
#
NETWORK=testnet
DOCKER_IMAGE="local/mezod"

#
# Storage
#
LOCAL_BIND_PATH=/var/mezod

#
# Keyring
#
KEYRING_PASSWORD="<change me>" # Can be generated using: openssl rand -hex 32
#KEYRING_MNEMONIC - can be loaded from env or from user input or generated

#
# Mezod
#
MEZOD_CHAIN_ID="mezo_31611-1"
MEZOD_MONIKER="<change me>"
MEZOD_ETHEREUM_SIDECAR_SERVER_ETHEREUM_NODE_ADDRESS="<change me>"
