apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../common/monitoring
  - ingress.yaml

patches:
  - path: metrics-scraper/service-patch.yaml
  - path: grafana/deployement-patch.yaml

configMapGenerator:
  - name: grafana-dashboards-mezo
    files:
      - grafana/dashboards/mezo-nodes-public.json
  - name: metrics-scraper-config
    files:
      - metrics-scraper/config/config.json

generatorOptions:
  disableNameSuffixHash: true
  annotations:
    note: generated

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/managed-by: kustomize
      app.kubernetes.io/part-of: production

namespace: monitoring
