name = "mezo-faucet"
main = "./src/index.ts"
compatibility_date = "2024-09-02"
dev.port = 8000
node_compat = true
logpush = true

# Development

# For development, KV id must be set but can have any value.
kv_namespaces = [
    { binding = "RATE_LIMITER", id = "not-applicable" }
]

[vars]
MEZO_API_URL = "http://localhost:8545"
AMOUNT_BTC = "0.001"
AMOUNT_MEZO = "100"
REQUEST_DELAY_SECONDS = "120"
PUBLIC_ACCESS = "false"
PUBLIC_ACCESS_REDIRECT = "https://mezo.org"

# Staging
[env.staging]
route = { pattern = "faucet.test.mezo.org", custom_domain = true }
kv_namespaces = [
    { binding = "RATE_LIMITER", id = "b5f59dc1cbc843c183186405f266e552" }
]

[env.staging.vars]
MEZO_API_URL = "https://rpc.test.mezo.org"
AMOUNT_BTC = "0.001"
AMOUNT_MEZO = "100"
REQUEST_DELAY_SECONDS = "86400" # 24 hours
PUBLIC_ACCESS = "true"
PUBLIC_ACCESS_REDIRECT = "https://mezo.org"