{
    "provider_url": "wss://eth-sepolia.g.alchemy.com/v2/<YOUR-KEY>",
    "ethereum_network": "sepolia",
    "account": {
      "key_file": "/path/to/your/key/UTC--2025-08-27T11-04-59.227071000Z--88cb9ffaecaea3a566c00d633d2dcfcc6b9dd3a7"
   }
}
