name: Run Gosec
# The workflow runs a security scan on a Go code and outputs the report to a
# `.sarif` file and then uploads it to GitHub, so that the results could be
# browsed in GH in the repo's 'Security' tab. The security scan is done using
# `cosmos/gosec@master` action which got forked from
# https://github.com/securego/gosec and introduced some new rules targeting the
# Cosmos-SDK.
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  Gosec:
    permissions:
      security-events: write
      contents: read

    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Get Diff
        uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/*.go
            go.mod
            go.sum
      - name: Run Gosec Security Scanner
        uses: cosmos/gosec@master
        with:
          # we let the report trigger content trigger a failure using the GitHub Security features.
          args: "-no-fail -fmt sarif -out results.sarif ./..."
        if: "env.GIT_DIFF_FILTERED != ''"
      # TODO: Once the repository is public enable the "GitHub Advanced Security"
      #       option in the repository settings and uncomment the "Upload SARIF file"
      #       step below. The step will not work with this option disabled and
      #       the option can only be enabled once the repository becomes public.
      #       More info: https://docs.github.com/en/enterprise-cloud@latest/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-security-and-analysis-settings-for-your-repository
      # - name: Upload SARIF file
      #   uses: github/codeql-action/upload-sarif@v2
      #   with:
      #     # Path to SARIF file relative to the root of the repository
      #     sarif_file: results.sarif
      #   if: "env.GIT_DIFF_FILTERED != ''"
