name: Slither Analysis
# The workflow analyzes Solidity contracts using Slither, which outputs the
# report to a `.sarif` file and then uploads it to GitHub, so that the results
# could be browsed in GH in the repo's 'Security' tab. The check is triggered by
# pull requests and pushes to the `main` branch that modify Solidity files.

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  analyze:
    name: Run Slither
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Get Diff
        uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/*.sol
      - name: Node dependencies Install
        run: |
          cd contracts && npm i
          cp -r node_modules/@openzeppelin .
      - name: Run Slither Action
        uses: crytic/slither-action@v0.3.0
        continue-on-error: true
        id: slither
        with:
          sarif: slither.sarif
          target: contracts/
        if: "env.GIT_DIFF"
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ steps.slither.outputs.sarif }}
        if: "env.GIT_DIFF"
