# The workflow utilizes the GitHub Super Linter
# (https://github.com/github/super-linter) to execute various linters on changed
# files based on languages used in our code base. It triggers on pushes to
# `main` and PRs targeting `main`.
---
name: Lint Code Base

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  run-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          LINTER_RULES_PATH: /
          YAML_CONFIG_FILE: .yamllint
          VALIDATE_ALL_CODEBASE: false
          MARKDOWN_CONFIG_FILE: .markdownlint.yml
          PROTOBUF_CONFIG_FILE: .protolint.yml
          VALIDATE_NATURAL_LANGUAGE: false
          VALIDATE_OPENAPI: false
          VALIDATE_JSCPD: false
          VALIDATE_GO: false
          VALIDATE_GITLEAKS: false
          VALIDATE_TYPESCRIPT_STANDARD: false
          VALIDATE_SQLFLUFF: false
          DEFAULT_BRANCH: "main"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
