apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - configmap.yaml

commonLabels:
  component: pyth-scheduler-ethereum
  app: pyth-scheduler-ethereum

namespace: default
